[submodule "hipe-tinyscript"]
	path = hipe-tinyscript
	url = git@hipeland.org:hipe-tinyscript
[submodule "hipe-diff"]
	path = hipe-diff
	url = git@hipeland.org:hipe-diff
[submodule "monitconf.d"]
	path = monitconf.d
	url = git@hipeland.org:monitconf
